.grid-container {
    display: grid;
    grid-template-areas: "header    header    header"
                         "main      main      right"
                         "footer    footer    footer";
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

body {
    background-image: url('../images/bg-main2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -70px;
    overflow-x: hidden;
    height: 100%;
}

a{
    text-decoration: none;
}

.header {
    grid-area: header;
    background-color: #000;
    position: sticky;
    top: 0;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: left;
}

.right {
    grid-area: right;
    display: flex;
    justify-content: center;
    height: 72vh;
    width: 97%;
    background: rgba(255, 255, 255, 0.353);
    border-radius: 20px;
}

footer {
    grid-area: footer;
    width: 100%;
    position: absolute;
    bottom: 0;
    small{
        color: rgb(225, 162, 26);
    }
}

